.main-container{
    display: flex;
    flex-direction: row;
}
.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb( 189, 93, 56);
    position: fixed;
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
}
.image{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid;
    border-color:  rgba(255, 255, 255, 0.2); 
    margin-bottom: 0px;
}
.list-items{
    list-style-type: none;
    color: white;
    text-align: center;
    padding-right: 40px;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff8c;
    letter-spacing: 0.5px;
    font-weight: 700;
}
a:hover{
    color: #ffffff;
}
li{
    padding-bottom: 15px;
}

.right-container{
    margin: 10% 0% 0% 20% ;
  }
.about,.experience,.eduaction,.skills ,.projects{
    border-bottom: 1px solid black; 
    padding: 0px 0px 100px 60px;
}
.profile-name{
    color: #343a4d;
    font-size: 60px;
    margin-bottom: 0px;
}
.profile-name-span{
    color: rgb( 189, 93, 56);
}
.personal-details{
    margin-top: 0px;
    font-size: 16px;
    color:  #6c757d;
}
.email{
    color: rgb( 189, 93, 56);
}
.description{
    color: #6c757d;
    font-size: 16px;
    margin: 50px 0px 40px 0px;
}
.icons{
    font-size: 40px;
    padding-right: 15px;
    color:#6c757d;
}
.icons:hover{
    color: rgb( 189, 93, 56);
}
h2{
    color: #343a4d;
    font-size: 35px;
    margin-top: 50px;
}
.educatiaonal-details,.experience-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h3{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    color: #343a4d;
}
h5{
    margin-top: 0px;
    color: #6c757d;
    font-size: 18px;
}
.date{
    font-size: 15px;
    color: rgb( 189, 93, 56);
    padding-right: 30px;
}
.experience-description{
    color: #6c757d;
    font-size: 14px;
    margin: 0px 0px 40px 0px;
    padding-right: 120px;
}
.course,.grade{
    margin: 0px;
    font-size: 14px;
    color: #6c757d;
}
.course-details{
    margin-bottom: 30px;
}
.work-flow{
    margin-top: 20px;
}
ul{
    list-style-type: none;
    line-height: 0.8;
}
ul li:before{
     content:"\2714\0020"; 
     color: #6c757d;
}
 ul li{
    font-size: 15px;
    color: #6c757d;
}
.project{
    margin-top: 20px;
}
.project-description{
    font-weight: 400;
    font-size: 16px;
}


